/*-- scss:defaults --*/
$body-bg: #142521 !default;
$body-color: #e6eee8 !default;
$primary: #93d8c5 !default;
$link-color: #93d8c5 !default;
$navbar-bg: #142521 !default;
$navbar-fg: #e6eee8 !default;
$navbar-hl: #93d8c5 !default;
$code-color: #93d8c5 !default;
$toc-color: #93d8c5 !default;

