/*-- scss:defaults --*/
$body-bg: #142521;
$body-color: #e6eee8;
$primary: #93d8c5;
$link-color: #93d8c5;
$navbar-bg: #142521;
$navbar-fg: #e6eee8;
$navbar-hl: #93d8c5;
$code-color: #93d8c5;
$toc-color: #93d8c5;

