/*-- scss:defaults --*/
$font-family-sans-serif: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif !default;
$headings-font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-size-base: 1.025rem !default;
$body-bg: #f8f9f5 !default;
$body-color: #243c38 !default;
$primary: #17675b !default;
$link-color: #17675b !default;
$navbar-bg: #f8f9f5 !default;
$navbar-fg: #243c38 !default;
$navbar-hl: #17675b !default;
$headings-font-weight: 600 !default;
$border-radius: .25rem !default;
$code-color: #17675b !default;
$toc-color: #17675b !default;

