/*-- scss:defaults --*/
$font-family-sans-serif: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
$headings-font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
$font-size-base: 1.025rem;
$body-bg: #f8f9f5;
$body-color: #243c38;
$primary: #17675b;
$link-color: #17675b;
$navbar-bg: #f8f9f5;
$navbar-fg: #243c38;
$navbar-hl: #17675b;
$headings-font-weight: 600;
$border-radius: .25rem;
$code-color: #17675b;
$toc-color: #17675b;

